.profile{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #aaa;
    height: 40em;
}
p{
    background-color: red;
    width: 10em;
    height: 10em;
    color: black;
}