.header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #444;
    color: #fff;
    height: 7em;
    justify-content: space-around;
    min-width: 320px;    
}
.logo{
    width: 5.4em;
    border-radius: 50%;
}
.left{
    width: 85%;
    height: 7em;
    // background-color: red;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.right{
    width: 15%;
    height: 7em;
    // background-color: blue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.icons img{
    margin-right: .1em;
    height: 2em;
}