.header{
    display: flex;
    align-items: center;
    justify-content: center;
    background:linear-gradient(130deg,rgb(255,192,203), rgb(255,182,193),rgb(255,105,180));
    color: #fff;
    font-weight: bolder;
    height: 13vh;
    justify-content: space-around;
    min-width: 340px;    
}
.logo{
    width: 6.5em;
    border-radius: 50%;
}
.left{
    width: 85%;
    height: 7em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.right{
    width: 15%;
    height: 7em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.icons img{
    margin-right: .1em;
    height: 1.65em;
}
.icons img:hover{
    transition: ease-in-out, 0.3s;
    height: 2.2em;
    cursor: pointer;
}
.textLink{    
    color: #000;
    padding: .5em;
    box-shadow: 2px 2px 2px 2px;
    border-radius: 25%;
    transition: ease-in-out, 0.5s;
}
.textLink:hover{
    font-weight: bolder;
    font-size: 1.1em;
    color: rgb(245, 8, 8);
    cursor: pointer;
}
