.header{
    display: flex;
    align-items: center;
    justify-content: center;
    background:linear-gradient(130deg,rgb(255,192,203), rgb(255,182,193),rgb(255,105,180));
    color: #fff;
    font-weight: bolder;
    height: 7em;
    justify-content: space-around;
    min-width: 320px;    
}
.logo{
    width: 5.4em;
    border-radius: 50%;
}
.left{
    width: 85%;
    height: 7em;
    // background-color: red;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.right{
    width: 15%;
    height: 7em;
    // background-color: blue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.icons img{
    margin-right: .1em;
    height: 2em;
}
.textLink:hover{
    color: #000;
    font-weight: bolder;
    font-size: 1.5em;
    transition: ease-in-out, 0.3s;
}