.login {
	width: 100vw;
	height: 87vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(130deg, rgb(196, 182, 184), rgb(233, 174, 183), rgb(196, 182, 184));
}
input {
	width: 20em;
	height: 2em;
	border-style: none;
	margin-top: 2em;
	margin-bottom: .2em;
	border-radius: .5em;
	text-align: center;	
}

::placeholder{
	text-align: center;
}